<div class="app-container">
  <div class="">
    <app-header></app-header>
  </div>
  <div class="home-container container">
    <div class="brand-hello">
      <div class="image">
        <img id="me" src="/assets/img/me.jpeg"/>
      </div>
      <div class="text">
        <h2>👋 Hello, im</h2>
        <h1>Gabriel Araújo</h1>
        <h3>Full-Stack Developer</h3>
        <br/>
        <div style="display: flex; justify-content: space-between;">
          <app-button [hasIcon]="true" text="GitHub" (click)="redirect('https://github.com/themyntt')" style="margin-right: 15px;"/>
          <app-button [hasIcon]="true" variant="secondary" text="Linkedin" (click)="redirect('https://www.linkedin.com/in/gabriel-ara%C3%BAjo-lima-90667726a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app')" />
        </div>
      </div>
    </div>
    <h2>Brief</h2>
    <div class="brief">
      <p>My name is Gabriel Araújo Lima, and I am currently working as a Full-Stack Developer. I am also enrolled in the Technical Course in Systems Development, which is integrated with Secondary Education at <a href="https://etechoracio.com.br">Etec Prof Horácio Augusto da Silveira</a>. I am in my second year and will be completing the course in December 2025.</p>
    </div>
    <br/>
    <div class="skills">
      <i class="devicon-angularjs-plain"></i>
      <i class="devicon-react-original"></i>
      <i class="devicon-nestjs-original"></i>
      <i class="devicon-spring-original"></i>
      <i class="devicon-microsoftsqlserver-plain"></i>
      <i class="devicon-mysql-original"></i>
      <i class="devicon-mongodb-plain"></i>
    </div>
    <br/>
    <h2>Principal projects</h2>
    <div class="projects" style="display: flex; justify-content: space-between;">
      <app-card title="basicT NG" description="A Point of Sale (POS) system tailored for markets, such as grocery stores and supermarkets, is a comprehensive solution designed to streamline sales transactions and manage various operational aspects of the business" link="https://github.com/jpaveiro/basicT-NG" style="margin-right: 20px;" image="basict.png"/>
      <app-card title="SGA" description="A Student Portal System is a digital platform designed to facilitate communication, collaboration, and access to resources between educational institutions, students, and educators." link="https://github.com/themyntt/sga"/>
    </div>
    <br />
    <app-button [hasIcon]="false" text="See More" variant="secondary" (click)="redirect('/projects')"/>
  </div>
</div>