.brand {
  height: 50vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #4d6a3b, #a7c957);
  flex-direction: column;
  border-radius: 20px;
  padding: 0 30px;
}

.brand button,
.btn {
  height: 50px;
  width:100%;
  border: 0;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin: 40px 0 0 0;
}

#brand-text {
  font-size: 30px;
}

.other {
  margin: 6vh 0 0 0;
}

#aboutMe {
  height: auto;
  background: linear-gradient(to right, #d9ed92, #34a0a4);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

#skills {
  height: auto;
  background: linear-gradient(to right, #023047, #219ebc);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#interest {
  height: auto;
  background: linear-gradient(to right, #271f30, #c8ad55);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

#firstAboutMe, #text-skills {
  text-align: justify;
  text-justify: inter-word;
}

#firstAboutMe {
  margin-right: 40px;
}

#aboutMe div img {
  height: 40vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  width: auto;
}

#change {
  color: #fff;
}

@media (max-width: 768px) {
  #aboutMe {
    display: block;
    height: auto;
    padding: 40px;
  }
  #aboutMe div img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  #firstAboutMe {
    margin: 0;
  }
  .brand {
    display: block;
    height: auto;
    padding: 40px;
  }
  .container {
    margin-top: 100px;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
