<div class="app-container">
  <div>
    <app-header></app-header>
  </div>
  <div class="experience-container container">
    <div class="timeline">
      <ul>
        <li>
          <div class="content">
            <h3>Focus Têxtil</h3>
            <p>In 2024 I had the opportunity to try to apply for the IT area at Focus Têxtil and was selected. This is my first job.</p>
          </div>
          <div class="point"></div>
          <div class="date">
            <h4>2024</h4>
          </div>
        </li>
        <li>
          <div class="content">
            <h3>Secundary School</h3>
            <p>In 2022, I took the entrance exam for the São Paulo state technical schools for the systems development course. 
              In 2023 I passed Etec Professor Horácio Augusto da Silveira.</p>
          </div>
          <div class="point"></div>
          <div class="date">
            <h4>2023</h4>
          </div>
        </li>
      </ul>
    </div>
    <div style="margin: 0 40px;">
      <app-button [hasIcon]="false" text="Go Back" (click)="goBack()"/>
    </div>
  </div>
</div>
